doctype html
html
  head
    title= title
    meta(charset='utf-8')
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="description", content=description)
    link(rel="shortcut icon", href="./assets/images/relieve-icon.svg", type="image/x-icon")
    link(rel="stylesheet", href="./assets/css/uikit.min.css")
    link(rel="stylesheet", href="./assets/css/relieveid.css")    
  body
    //- NAVBAR
    .uk-margin-medium-left.uk-margin-medium-right
      nav.uk-navbar-container.uk-navbar-transparent(uk-navbar)
        .uk-navbar-left
          a.uk-navbar-item.uk-logo(href="#")
            img.uk-preserve(uk-img="data-src:./assets/images/relieve-icon.svg", uk-svg, alt=title, style="height: 3.8rem;")
            span.title.uk-text-middle= title
        .uk-navbar-right
          ul.uk-navbar-nav
            li
              a.uk-text-capitalize(href='#about')= about
    //- NAVBAR
    //- HERO
    #hero
      .uk-grid(uk-height-viewport)
        .uk-width-1-1.uk-inline
          .uk-position-center-left
            img(uk-img="data-src:./assets/images/left-overflow.svg", uk-svg, style="height: 32em;")
          .uk-position-top-right
            img(uk-img="data-src:./assets/images/right-overflow.svg", uk-svg, style="height: 32em;")          
      .uk-container.uk-position-cover
        .uk-padding.uk-margin-medium
        .uk-text-center.uk-text-large.uk-text-secondary.uk-overflow-auto
          p Cinta dan keselamatan keluarga dalam satu aplikasi
        .uk-text-center.uk-text-emphasis.uk-text-small.uk-overflow-auto.uk-padding-small
          p “I am aware, we are aware”
        .uk-flex-center.uk-padding(uk-grid)
          a.uk-width-auto(href="https://play.google.com/store/apps/details?id=com.relieve.android")
            img(uk-img, data-src="./assets/images/appstore.png", alt="download from appstore")
          a.uk-width-auto(href="https://play.google.com/store/apps/details?id=com.relieve.android")
            img(uk-img, data-src="./assets/images/playstore.png", alt="download from playstore")
        .uk-width-1-1.uk-inline
          div(style="margin-top:28em;")
          img.uk-width-1-1(uk-img="data-src:./assets/images/bottom-overflow.svg", uk-svg, style="height: 28em;")
          .uk-overlay.uk-position-bottom-center
            img(uk-img, data-src="./assets/images/phone-main-page.png", alt="main screen preview")            
            div(style="margin-top:3.5em;")
    //- HERO
    //- INFO
    .uk-section.blue-bg(style="padding:0;")
      .uk-grid-collapse(uk-grid)        
        .uk-padding-large(class="uk-width-1-2@m").short-about
          .uk-margin-large
          img(uk-img="data-src:./assets/images/loudspeaker.svg", uk-svg, style="height: 2.4em;")
          .uk-margin-small
          article.uk-article
            h4.short-about #IamAwareWeAreAware
            p Relieve hadir sebagai mitra pemerintah dalam media penyampaian informasi terhadap penanggulangan bencana.
            p 
              | Gabung bersama relieve dengan mengkampanyekan hastag 
              mark.blue-bg.dark #IamAwareWeAreAware
              |  diseluruh sosial media kamu, bertujuan untuk mengajak dan menggerakan masyarakat untuk turut berpartisipasi dalam proses antisipasi dan mitigasi bencana.          
          .uk-margin-large
          a.uk-button.uk-button-default.short-about.uk-border-pill.uk-text-capitalize(href="#") 
            | Tentang #{title}
        div(class="uk-width-1-2@m")
          img(style="min-width: 100%;", uk-img, data-src="./assets/images/its-disastah.png", alt="earthquakes disaster")
    //- INFO
    //- Footer
    .uk-section.uk-section-secondary.uk-light
      .uk-container
        h3 Section Secondary
        .uk-grid-match(class='uk-child-width-1-3@m', uk-grid='')
          div
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
          div
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
          div
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
    //- Footer
  footer
    script(src="./assets/js/uikit.min.js")
    script(src="./assets/js/uikit-icons.min.js")
    script(src="./assets/js/relieveid.js")